body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
  margin: 0;
  padding: 0;
  text-align: center;
}

#app {
  margin-top: 50px;
}

#weather-result {
  margin-top: 20px;
  padding: 10px;
  background-color: #e0e0e0;
  border-radius: 10px;
}
